
	<h1 style="font-size:50px;font-family:Arial;text-align:center;color:#C71585">iOrder</h1>
	<img src = "http://www.crazybusinessideas.gr/media/crazy_ideas/images/ideas/cache/e1a325047b148c9441be2b14c42dc196_L.jpg"aligh='center'/>
	<h2 style="font-size:20px;text-align:left;color:#C71585">
		iOrder: εφαρμογή που θα δίνει τη δυνατότητα στο χρήστη να παραγγέλνει online τον καφέ ή το snack του, ενώ είναι καθ οδών. </h2>
	<%= link_to 'iOrder', controller: 'articles' %>